@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  img, picture, video, canvas {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
  }
  
  :root{
    --colorAzulPrincipal: #62C4D6;
    --colorAzulSecundario: #03272E;
    --colorCinzaEscuro: #363535;
    --colorCinzaClaro: #E6E6E6;
    --colorBranco: #FFFFFF;
  }

  .container{
    width: 100%;
    max-width: 1358px;
    margin: 0 auto;
    padding: 0 15px;
  }

  h1{
    z-index: 999;
    font-size: 36px;
    font-weight: normal;
    line-height: normal;
  }

  h2{
    font-weight: normal;
    line-height: normal;
  }

  .color-azul{
    color: var(--colorAzulPrincipal);
  }

  header{
    height: 92px;
    width: 100%;
    max-width: 1516px;

    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorBranco);
  }

  .logo{
    color: var(--colorCinzaEscuro);
    font-size: 40px;
  }
  strong{
    color: var(--colorAzulPrincipal);
    font-weight: bold;
  }

  ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
  }

  li{
    font-size: 20px;
  }

  .btnLogin{
    font-size: 20px;
    color: var(--colorCinzaEscuro);
    background-color: var(--colorAzulPrincipal);
    padding: 14px 35.5px;
    border-radius: 10px;
    cursor: pointer;
  }

  button{
    background-color: var(--colorAzulPrincipal);
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
  }

  .mainbg{
    height: 550px;
    background-color: var(--colorCinzaClaro);
    
    
  }
  .main{

    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    
    /* display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; */

  }

.bannerHero{
    
    width: 780px;
}

  .simulador-box{
    z-index: 999;
    padding: 35px 0;
    width: 360px;
    height: 431px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--colorBranco);
    border-radius: 10px;
  }


.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 35%;
    
    margin: 20px;
  }
  

  input[type="range"] {
    width: 230px;
    appearance: none;
    background: var(--colorCinzaEscuro);
    height: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
  
  
  /* Valor do slider */
  #slider-value {
    font-size: 42.67px;
    color: var(--colorAzulPrincipal);
    
  }

  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background: var(--colorAzulPrincipal);
    cursor: pointer;
  }


  
  .soluction{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }
  
  .card-soluction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 352px;
    height: 207px;
    border: 1px solid var(--colorAzulSecundario);
    border-radius: 8px;
    padding: 30px;

  }

  .card-soluction h4{
    color: var(--colorAzulPrincipal);
  }

  .appContainer-bg{
    background-color: #03272E;

  }
  .appContainer{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    
    height: 572.56px;
  }

  .textoapp{
    color: var(--colorBranco);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .textoapp{
    h2, p{
      margin: 20px 0;
    }
    
  }

  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    height: 300px;
    
  }


  footer .left{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  footer .right{
    margin-bottom: 20px;
    
  }


  .simulador{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    width: 100%;
  }

  .simulador-right .simulador-left{
    display: flex;
    flex-direction: column;
  }

  .simulador-input{
    display: flex;
    flex-direction: column;
    background-color: var(--colorCinzaClaro);
    height: 60px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
  }

  .simulador-input input{
    border: none;
    background-color: transparent;
    outline: none;
  }

  .simulador-input select{
    border: none;
    background-color: transparent;
    outline: none;
  }

  .simulador-input label{
    font-size: 12px;
    color: var(--colorCinzaEscuro);
  }